@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Lato&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #5F634F;
    font-family: Lato;
}
header {
    display: grid;
    grid-template-columns: 125px auto;
    background-color: #FFF3B0;
}
header img {
    width: 100%;
}
nav {
    font-size: 26px;
    display: flex;
    justify-content: space-around;
    font-family: "Cinzel";
}
nav a {
    text-align: center;
    text-decoration: none;
    margin: auto;
    color: #2A1E5C;
    font-weight: bolder;
}
nav a:hover {
    background-color: #5F634F;
    color: #D64045;
}
main {
    margin-top: 20px;
    margin-bottom: 20px;
}
.content1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    color: #FFF3B0;
}
.content1 img {
    max-width: 75%;
    margin: auto;
}
.content1 div {
    grid-column: 1 / 3;
    padding: 20px;
    font-size: 18px;
}
.content2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    color: #FFF3B0;
}
.content2 img {
    grid-column: 1 / 2;
    max-width: 75%;
    margin: auto;
    padding: 10px
}
.content2 div {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    font-size: 18px;
    margin: auto;
    padding: 20px;
}
.content2 div h3 {
    font-size: 40px;
    font-family: "Cinzel";
    padding: 10px;
    color: #D64045;
}
footer {
    height: 100px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #FFF3B0;
}
footer h3 {
    margin: auto;
    font-size: 26px;
}
footer a {
    margin: auto;
    font-size: 26px;
    text-decoration: none;
    color: #2A1E5C;
    font-family: "Cinzel";
    font-weight: bolder;
}
footer a:hover {
    background-color: #5F634F;
    color: #D64045;
}